@{
    ViewData["Title"] = "Home Page";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">


        $().ready(function () {

            // // Enable text based filtering for voices
            // $("#voiceSearchBox").bind("keyup", function() {
            //     var text = $(this).val().toLowerCase();

            //     Array.from(document.getElementById('voiceid').children).forEach(function (element)
            //     {
            //         if (element.innerText.toLowerCase().includes(text) || text == '') {
            //             element.style.display = 'block';
            //         } else {
            //             element.style.display = 'none';
            //         }
            //     });
            // });


            // // adjust listbox attributes
            // var listbox = $('#voiceid');
            // listbox.css('height', '250px');

        });


        function GetText() {

            var textSettings = {
                fontSize: $('#txtFontSize').val(),
                fontFamily: $('#ddlFontFamily').val(),
                fontColor: $('#ddlFontColor').val(),
                textMessage: $('#txtText').val(),
            };

            $.ajax({
                type: 'post',
                url: '@Url.Action("saveText", "Home")',
                contentType: "application/json",
                data: JSON.stringify(textSettings),
                success: function(data) {

                }
            });
    }

</script>

<div>
    <span style="font-size: 20px;">Font Settings</span>
    </br>
    size: <input type="text" id="txtFontSize" value="12" />
    </br>
    family: <select id="ddlFontFamily" value="calibri">family:</select>
    </br>
    color: <input type="color" id="fontColor" value="#9f5b5b" />
    </br>
    text: <input type="text" id="txtText" value="sample"/>
    </br>

    <input type="button" onclick="GetText();" text="Generate"></input>
    </br>

    <div id="output" style="width: 125px;"/>
</div>
